  * {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }
    body {
      margin: 0;
      background: url('bg.jfif') no-repeat center fixed;
      background-size: cover;
    }
    .overlay {
      background: rgba(0, 0, 0,0.45);
      min-height: 100vh;
    }
    .navbar {
      background: rgba(0,0,0,0.7);
      padding: 15px;
      text-align: center;
    }
    .navbar a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
    }
    .navbar a:hover {
      color: gold;
    }
    .header {
      text-align: center;
      color: white;
      padding: 40px 20px;
    }
    .header h1 {
      font-size: 36px;
    }
    .room-card {
      display: flex;
      background: rgba(255,255,255,0.9);
      width: 80%;
      margin: 30px auto;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    }
    .room-card:hover {
      transform: scale(1.03);
      transition: 0.3s;
    }
    .room-img {
      width: 300px;
    }
    .room-info {
      padding: 20px;
    }
    .room-title {
      color: crimson;
      font-size: 26px;
    }
    .price {
      background: gold;
      padding: 5px 10px;
      border-radius: 8px;
      font-weight: bold;
      display: inline-block;
      margin: 10px 0;
    }
    .book-btn {
      padding: 8px 15px;
      background: crimson;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin-right: 10px;
    }
    .book-btn:hover {
      background: black;
    }
    select {
      padding: 6px;
      border-radius: 6px;
    }
    .features {
      text-align: center;
      color: white;
      padding: 40px;
    }
    .feature-box {
      display: inline-block;
      background: rgba(255,255,255,0.2);
      padding: 15px 25px;
      margin: 10px;
      border-radius: 20px;
    }
    .reviews {
      text-align: center;
      color: rgb(85, 13, 202);
      padding: 40px;
    }
    .review-box {
      background: rgba(255,255,255);
      padding: 20px;
      margin: 15px auto;
      width: 60%;
      border-radius: 15px;
    }
    .footer {
      background: rgba(0,0,0);
      color: white;
      text-align: center;
      padding: 20px;
    }
    .center-btn{
      text-align: center;
    }
.external-link{
      display:inline-block;
      padding:10px 18px;
      background-color:rgb(255, 0, 234);
      color:white;
      text-decoration: none;
      border-radius: 5px;
      font-size:15px;
    }
    .external-link:hover{
      background-color: aqua;
    }
.form-container{
      max-width:400px;
      margin:30px;
      padding:20px;
      background:aqua;
      border-radius: 10px;
      box-shadow:0 0 10px rgba(0,0,0,0.2);
    }
    .form-container input,
    .form-container select {
      width:100%;
      padding :10px;
      margin:8px 0;
    }
    form-container button {
  width: 100%;
  padding: 10px;
  background-color: pink;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.center-btn{
    text-align: center;
    margin-top: 40px;
}
table{
    background:white;
    BORDER:1px solid black;
    PADDING:10PX;
    margin-left:auto;
    margin-right:auto;
}
td,th{
    border:1;
}
caption{
  text-align:center;
  text-decoration: underline;
  color: chartreuse;
}
section{
  text-align: center;
  color: chocolate;
}
.popup{
  position:fixed;
  width:30%;
  height:30%;
  background-color:darkslateblue;
}
.popup-content{
  background-color: white;
  width:300px;
  padding:20px;
  margin:15% auto;
  text-align: center;
  border-radius: 8px;
}
.close-btn{
  float:right;
  font-size:22px;
  cursor:pointer;
  color:red;
}
